.weather-app{
    max-width: 600px;
    border: 1px solid #232324;
    background: rgb(229, 244, 250);
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
   
}
body{
    background:  rgb(241, 245, 247) ;
    font-family: Cerebri-Sans,Helvetica,Arial,sans-serif;;
}
 h1{
    
    margin: 20px 0 10px;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    color: #272142;
}

ul{
    margin: 0;
    padding: 0;
}
li{
    font-weight: 500;
    margin-bottom: 5px;
    color: rgba(39,33,66,.4);
    font-size: 16px;
    line-height: 20px;
    list-style: none;
}
p{
    font-size: 14px;
    margin-top: 40px;
    line-height: 18px;
    text-align: center;
    color: rgba(39,33,66,.4);

}
a{
   color:rgb(138, 192, 216) ;   
}
.degree{
    color: #212121;
    font-weight: 400;
    margin-left: 10px;
    font-size: 70px;
    line-height: 1;
}
.search{
    padding: 10px 20px;
    border: 1px solid rgb(173, 207, 240);
    border-radius: 10px;
    color:rgb(51, 57, 59) ;
    background: rgb(154, 212, 241);
}
.form-control{
    padding: 10px 20px;
    background: rgb(222, 233, 238) ;
    border-radius: 10px;
}
.weather-forcast{
    margin-top: 20px;
    text-align: center;
}
.weather-forcast-date{
    font-size: 16px;
    color: #000;
    opacity: 0/5;
}
.weather-forcast-temperature{
    font-size: 13px;
    opacity: 0/5;
}